<html>

<head>
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
</head>

<body>
    <div id="app">
        <div v-for="item in items" class="item">
            <button @click="remove(item)" class="btn btn-delete amber accent-3">
                <img class="btn-delete-img"></img>
            </button>
            <a :href="item.permalink" target="_blank">
                <span class="title" :title="item.title">
                    <span class="price">{{ item.price | price }}</span> - {{ item.title | title }}
                </span>
            </a>
            <button @click="toggleHistory(item)" class="btn btn-show indigo" type="button">
                <img class="expand-white">
            </button>
            <div class="extra-info" v-if="isShowingHistory(item)">
                <ul class="history">
                    <li class="history-item collection" v-for="historyPrice in item.history">
                        <span class="date">{{ historyPrice.date }}: </span>
                        <span>{{ historyPrice.price | price}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="size-and-clear">
            <button class="btn red" title="Clear all items" id="clear" @click="clear">
                <img class="clear-all-img"></img>
            </button>
        </div>
    </div>

    <script type="text/javascript" src="./scripts/popup.bundle.js"></script>
</body>

</html>