<!DOCTYPE html>
<html>

<head>
    <!-- TODO: remove CDN and wrap in bundle -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
</head>

<body>
    <div id="app">
        <div v-if="loading" style="margin-top: 2rem;">Cargando...</div>
        <div v-else>
            <div>
                <button @click="login" v-if="!auth" class="login-btn btn waves-effect waves-light btn-show indigo" type="button">Iniciar sesion</button>
                <!-- algo para mientras esta iniciando sesion? -->
            </div>
            <div class="items-container" v-if="articles.length">
                <div v-for="article in articles" class="item">
                    <a class="title-wrapper" :href="article.permalink" target="_blank" rel="noreferrer noopener">
                        <span class="title" :title="article.title">
                            <span class="price">{{ article.price | price }}</span> - {{ article.title | title }}
                        </span>
                    </a>
                    <button @click="toggleArticle(article)" class="btn waves-effect waves-light btn-show indigo" type="button">
                        <i v-if="isUnfolded(article)" class="material-icons">keyboard_arrow_up</i>
                        <i v-else class="material-icons">keyboard_arrow_down</i>
                    </button>
                    <div class="extra-info" v-if="isUnfolded(article)">
                        <ul class="history">
                            <li class="history-item collection" v-for="snapshot in article.history">
                                <span v-if="!snapshot.fluctuation" class="material-icons no-trend">remove</span>
                                <span v-if="snapshot.fluctuation > 0" class="material-icons trend-up">arrow_upwards</span>
                                <span v-if="snapshot.fluctuation < 0" class="material-icons trend-down">arrow_downwards</span>
                                <span class="date">{{ snapshot.date }}: </span>
                                <span>{{ snapshot.price | price }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="./scripts/popup.bundle.js"></script>
</body>

</html>