body {
    text-align: center;
    width: 500px;
}

#container {
    width: 90%;
    margin: auto;
}

.hidden {
    display: none !important;
}

.size-and-clear {
    padding: 10px 10px;
    font-size: 16px;
}

.size-and-clear .btn {
    min-height: 35px;
    font-size: 13px;
}

.btn-show {
    background: #323e8f;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #323e8f;
    cursor: pointer;
    font-weight: bold;
    margin: 0px 0px 0px 10px;
    height: 32px;
    width: 60px;
    padding-left: inherit;
    font-size: 18px;
}

.item {
    border-top: 1px solid lightgray;
    padding: 10px 10px;
    text-align: left;
    min-height: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.btn:hover {
    opacity: .8;
}

.btn-delete-img {
    width: 27px;
}

.btn-delete {
    margin-right: 15px;
    height: 32px;
}

.price {
    color: green;
}

a {
    color: #03b;
}

.extra-info {
    position: relative;
    width: 100%;
    padding: 0px 25%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 13px;
    min-height: 40px;
}

.navigate {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 29px;
    text-decoration: none;
}

.navigate:hover {
    opacity: .8;
}

.history {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.history-item {
    padding: 5px 10px;
    font-family: "Roboto", sans-serif;
}

.money {
    margin-left: auto;
}

.date {
    padding-right: 20px;
}
